<template>
    <div class="slds-box slds-theme_default">
        <div class="slds-text-heading_large">Request to park</div>
        <button class="slds-button slds-button_brand" onclick={saveRecords}> Save Records</button>


        <template for:each={parkingRequests} for:item="parkingRequest">
            <!-- <template for:each={parkingRequests.data} for:item="parkingRequest"> -->
            <div key={parkingRequest.Id} class="slds-grid slds-gutters">
                <div key={parkingRequest.Id} class="slds-col slds-size_1-of-3">
                    <lightning-input key={parkingRequest.Id} value={parkingRequest.Requested__c} type="checkbox">
                    </lightning-input>
                </div>
                <div key={parkingRequest.Id} class="slds-col slds-size_2-of-3">
                    <lightning-formatted-date-time key={parkingRequest.Id} value={parkingRequest.Date__c} year="2-digit"
                        month="short" day="2-digit" weekday="long"></lightning-formatted-date-time>
                </div>
            </div>
        </template>


        <!-- <lightning-record-edit-form
        object-api-name=ParkRequest__c
        record-id=a002v000046hz3cAAA
    >
        <lightning-messages></lightning-messages>

        <lightning-input-field
            field-name="Name"
        ></lightning-input-field>
        <lightning-input-field
            field-name="Date__c"
        ></lightning-input-field>
        <lightning-input-field
            field-name="Requested__c"
        ></lightning-input-field>
        <lightning-input-field
            field-name="SuperPark__c"
        ></lightning-input-field>

        <div class="slds-m-top_medium">
            <lightning-button
                variant="brand"
                type="submit"
                name="save"
                label="Save"
            ></lightning-button>
        </div>
    </lightning-record-edit-form> -->

    </div>
</template>